@model IEnumerable<Blood.Models.User>

@{
    ViewBag.Title = "UserGetdonerInfo";
}

<h2>UserGetdonerInfo</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Doner_Name)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Blood)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Doner_Name)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Blood)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.D_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.D_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.D_Id })
        </td>
    </tr>
}

</table>
